*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    padding-top: 74px;
}

.navbar-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1f2937;
    position: fixed;
    top: 0px;
    width: 98%;
}

.navbar-1 span a{
    background-color: #fbb74a;
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

.navbar-1 ul{
    display: flex;
    gap: 14px;
    padding: 0;
    margin: 0;
}

.navbar-1 ul li{
    list-style-type: none;
}

.navbar-1 ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.navbar-1 ul li a:hover{
    text-decoration: underline;
}

.navbar-1 button{
    background-color: #ee0a01;
    color: whitesmoke;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    text-decoration: none;
}

.navbar-1 button a{
    text-decoration: none;
    color: whitesmoke;
}

.line-1{
    border: 1px solid #1c64f2;
    margin: 0;
}

.navbar-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #374151;
    padding: 5px;
}

.navbar-2 ul{
    display: flex;
    margin: 0;
    gap: 12px;
    color: whitesmoke;
}

.navbar-2 ul li{
    list-style-type: none;
    font-weight: 500;
}

.navbar-2 span{
    background-color: #31c48d;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

.navbar-2 span a{
    text-decoration: none;
    color: black;
}

.navbar-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-3 img{
    width: 10%;
}

.navbar-3 button{
    border: none;
    background-color: #76a9fa;
    color: whitesmoke;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    width: 25%;
    padding: 10px;
}

.navbar-3 input{
    border-radius: 8px;
    border: 1px solid ;
    padding: 8px;
    width: 55%;
    font-size: 18px;
}

.navbar-3 ul{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.navbar-3 ul li{
    list-style-type: none;
}

.navbar-3 ul li a{
    text-decoration: none;
    font-weight: 500;
    color: #3c404e;
}

.navbar-3 ul li a:hover {
    color: #b43403;
}

.section-3 img{
    width: 100%;
}

.section-4{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-4 h1{
    margin: 0;
    font-weight: 700;
    font-size: 75px;
}

.section-4 h1 span{
    text-transform: uppercase;
    color: #f10900;
}

.section-4 h2{
    margin: 0;
    font-size: 50px;
}

.section-4 h2 span{
    color: #f10900;
}

.section-4 p{
    font-weight: 500;
    font-size: 17px;
}

.section-5{
    background-color: #e1effe;
    text-align: center;
    padding-left: 320px;
    padding-right: 320px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-5 h2{
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    line-height: 50px;
}

.section-5 button{
    background-color: #49b2df;
    border: none;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 30px;
}

.section-5 button a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 500;
}

.section-6{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-6 h2{
    margin: 0;
    text-align: center;
    font-size: 35px;
}

.section-6 p{
    margin: 0;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}

.career-icons{
    display: flex;
    justify-content: space-around;
}

.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.row i{
    font-size: 30px;
    color: #3f83f8;
}

.row span{
    font-weight: 500;
    font-size: 18px;
}

.section-7 {
    background-color: #f3f4f6;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.section-7 h2{
    margin: 0;
    font-size: 35px;
}

.section-7 p{
    font-size: 20px;
    text-align: center;
}

.section-8{
    display: flex;
    gap: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

.section-8-img img{
    width: 100%;
}

.boxes{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.blue-box{
    background-color: #3f83f8;
    color: whitesmoke;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 78%;
}

.blue-box h2{
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    padding-left: 15px;
}

.blue-box p{
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.red-box{
    background-color: #f05252;
    color: whitesmoke;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 90px;
    width: 78%;
}

.red-box h2{
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    padding-left: 15px;
}

.red-box p{
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.section-9{
    background-color: #3f83f8;
    color: whitesmoke;
    padding: 60px;
}

.section-9 h2{
    text-align: center;
    font-size: 40px;
    margin: 20px;
}

.section-9 p{
    text-align: center;
    margin: 0;
    font-size: 18px;
    padding-left: 80px;
    padding-right: 80px;
    font-weight: 500;
}

.section-9-boxes{
    display: flex;
    gap: 15px;
    padding: 20px;
}

.box{
    background-color: #76a9fa;
    padding: 20px;
    text-align: center;
}

.box h3{
    margin: 0;
    font-size: 24px;
}

.box span{
    font-size: 17px;
    font-weight: 500;
}

.section-10{
    padding: 50px;
    text-align: center;
}

.section-10 h2{
    text-align: center;
    font-size: 40px;
    margin: 0;
} 

.section-10-boxes{
    padding: 35px;
}

.row-1{
    display: flex;
    gap: 20px;
    padding: 10px;
}

.box-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f3f4f6;
    padding: 20px;
    width: 50%;
}

.box-1 i{
    background-color: #308aff;
    color: whitesmoke;
    padding: 10px;
    font-size: 35px;
    border-radius: 10px;
}

.box-1 h3{
    margin: 0;
    font-size: 25px;
    font-weight: 500;
    text-align: left;
}

.box-1 span{
    font-size: 17px;
    text-align: left;
}

.box-1 a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #308aff;
    text-align: left;
}

.section-10 button{
    background-color: #e5e7eb;
    border: none;
    font-size: 18px;
    font-weight: 500;
    padding: 12px;
    border-radius: 10px;
}

.section-10 button a{
    text-decoration: none;
    color: #1c64f2;
}

.section-11{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 100px;
    background-color: #f9fafb;
}

.why-choose-us h2{
    font-size: 40px;
    margin-bottom: 0;
}

.why-choose-us ul{
    line-height: 55px;
    padding: 20px;
    margin: 0;
}

.why-choose-us ul li{
    font-size: 18px;
    font-weight: 500;
    list-style-type: none;
}

.why-choose-us ul li i{
    font-size: 15px;
    color: #0e9f6e;
}

.section-12{
    text-align: center;
    padding: 50px;
}

.section-12 h2{
    font-size: 40px;
    margin: 0;
}

.section-12 p{
    font-size: 18px;
    font-weight: 400;
    width: 80%;
    padding-left: 55px;
    margin: 15px;
}

.section-13{
    text-align: center;
    padding: 50px;
    background-color: #f9fafb;
}

.section-13 h2{
    font-size: 40px;
    margin: 0;
}

.section-13 p{
    font-size: 18px;
    font-weight: 400;
    width: 80%;
    padding-left: 100px;
    margin: 15px;
}

.section-13 img{
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-1{
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}

.text-1 p{
    font-size: 17px;
    margin-top: 50px;
}

.text-1 a{
    text-decoration: none;
    color: black;
}

.text-1 span{
    background-color: white;
}

.section-14{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
}

.section-14 h2{
    font-size: 40px;
    margin: 0;
}

.section-14 p{
    font-size: 18px;
    font-weight: 400;
    width: 80%;
    padding-left: 20px;
    margin: 15px;
}

.section-14 img{
    width: 80%;
}

.footer{
    background-color:#e5e7eb ;
}

.content-1{
    display: flex;
    padding: 40px;
}

.logo-content{
    width: 60%;
}

.logo-content img{
    width: 30%;
    padding-left: 20px;
}

.logo-content h4{
    margin: 0;
}

.logo-content span{
    font-size: 17px;
}

.text-content{
    display: flex;
    gap: 10px;
}

.text-content ul{
    margin: 0;
    padding: 0;
    width: 30%;
}

.text-content ul li{
    list-style-type: none;
    line-height: 30px;
}

.text-content ul li a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.text-content ul li a:hover{
    color: #1c64f2;
}

.text-content h4{
    margin-top: 0;
    margin-bottom: 10px;
}

.line-2{
    border: 1px solid #1c64f2;
}

.content-2 h4{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

.row-2{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.box-2{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.box-2 img{
    width: 20%;
    border-radius: 50%;
    height: 60px;
}

.box-2 h4{
    text-align: left;
}

.content-2 ul{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.content-2 ul li{
    list-style-type: none;
}

.content-2 ul li a{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
}

.content-3{
    background-color: #d1d5db;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-icons ul{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-icons ul li{
    list-style-type: none;
}

.footer-icons ul li a{
    color: black;
    font-size: 20px;
}

.footer-icons ul li a:hover{
    color: #1c64f2;
}

.fa-youtube:hover{
    color: #b43403;
}

.fa-instagram:hover{
    color: #b43403;
}

.footer-icons a img{
    width: 40%;
}

.fixed-icons{
    position: fixed;
    top: 530px;
    font-size: 70px;
    right: 10px;
}

.fixed-icons a i{
    color: green;
}